@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@500&family=Nunito:wght@500&family=Poppins:ital,wght@1,200&display=swap');
/*Fuentes*/

/*///////////////////////////////////////////////*/
.centrar-contenedor{
    width: 100%;
    display: flex;
justify-content: center;
align-items: center;
}

.disabled {
    display: none;
}

#carrito-vacio,
#carrito-comprado{
    margin: 100px;
    text-align: center;
    color:rgb(0, 0, 0);
}

.contenedor-carrito{
    padding: 30px 30px;
    width: 50%;
    text-align: center;
}
.producto-contenedor{
    background-color: #342009;
    border-radius: 20px;
    width: 662px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.producto-contenedor img{
    width: auto;
    height: 100%;
    text-align: left;
    border-radius: 20px;
}

.centrar{
    width: 77.2%;
    height: 100%;
}

.contenedor-superior{
    border-radius: 20px 20px;
    width: 100%;
    height: 55%;
    margin: 0;
    padding: 20px 20px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.contenedor-superior #nombre-producto{
    text-align: start;
    color: #fff;
    margin-right: 15px;
    font-family: 'Poppins',sans-serif;
    font-size: 28px;
}

.contenedor-superior .precio-mxn{
    display: flex;
    justify-content:space-between;
    align-items:self-end;
    margin-left: auto;
}
.contenedor-superior #precio-producto{
    color: #B1995C;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-right: 5px;
}
.contenedor-superior .mxn{
    color: #B1995C;
    font-size: 13px;
}



.contenedor-inferior{
    border-radius: 20px 20px;
    width: 100%;
    height: 45%;
    margin: 0;
    padding: 0px 20px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.contenedor-inferior .eliminar{
    border: 0;
    border-radius: 10px;
    text-align: start;
    background-color: #342009;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    width: auto;
    height: 80%;
}

.contenedor-inferior .eliminar img:hover{
    transform: scale(1.3);
}

.contenedor-inferior .eliminar img{
    width: auto;
    height: 100%;
    transition: all 0.3s ease 0s;
}

.contenedor-inferior .cantidad-contenedor{
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #fff;
    width: 140px;
    height: 30px;
    border-radius: 50px;
}
.contenedor-inferior .cantidad-contenedor .menos,
.contenedor-inferior .cantidad-contenedor .mas{
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #fff;
    cursor: pointer;
}
.contenedor-inferior .cantidad-contenedor .left{
    display:flex;
    text-align: start;
}
.contenedor-inferior .cantidad-contenedor .right
{
    display: flex;
    margin-left: auto;
}
.cantidad-contenedor{
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    color: #000;
    height: 35px;
}

@media  screen and (max-width:768px) {
    .centrar-contenedor{
    padding: 30px 30px;
    }
    .contenedor-carrito{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .producto-contenedor{
        width: 100%;
        height: 300px;
        padding: 10px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .producto-contenedor img{
        height: 120px;
        border-radius: 10px;
    }
    .centrar{
        width: 100%;
        height: 120px;
        flex-wrap: wrap;
    }
    .contenedor-superior{
        width: 100%;
        height: 60px;
        align-items: start;
    }
    .contenedor-superior #nombre-producto{
        font-size: 18px;
    }
    .contenedor-superior .precio-mxn{
        width: 100px;
        margin-left: auto;
    }
    .contenedor-superior #precio-producto{
        font-size: 17px;
        margin-right: 5px;
        margin-left: auto;
    }
    .contenedor-superior .mxn{
        color: #B1995C;
        font-size: 10px;
    }
    .contenedor-inferior{
        width: 100%;
        height: 60px;
    }
    .contenedor-inferior .eliminar{
        height: 45px;
    }
    .contenedor-inferior .cantidad-contenedor{
        width: 90px;
        height: 30px;
        border-radius: 50px;
    }
}

.datos-carrito{
    display: flex;
    margin-left: auto;
    width: 400px;
    flex-wrap: wrap;
    margin-top: 50px;
}
.subtotal-contenedor,
.envio-contenedor,
.total-contenedor{
    width: 100%;
    padding: 10px 30px;
    display: flex;
    justify-content:space-between;
    align-items:self-end;
}
.subtotal-contenedor h4,
.envio-contenedor h4{
    text-align: start;
    color: #000;
    margin-right: 15px;
    font-family: 'Poppins',sans-serif;
    font-size: 26px;
    font-weight: 400;
}
.subtotal-contenedor #subtotal,
.envio-contenedor #envio{
    display: flex;
    margin-left:  auto;
    color: #000;
    margin-right: 5px;
    font-family: 'Poppins',sans-serif;
    font-size: 26px;
 }
.subtotal-contenedor .mxn,
.envio-contenedor .mxn{
    color: #000;
    font-size: 13px;
}
#promocion-envio{
    width: 100%;
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    color: #B1995C;
    text-align: end;
    margin-right: 20px;
}
.total-contenedor h3{
    text-align: start;
    color: #000;
    margin-right: 15px;
    font-family: 'Poppins',sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.total-contenedor #total{
    display: flex;
    margin-left:  auto;
    color: #000;
    margin-right: 5px;
    font-family: 'Poppins',sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
.total-contenedor .mxn{
    color: #000; 
    font-size: 15px;
}

.Finalizar-compra{
    margin-top: 30px;
    font-weight: 700;
    font-size: 17px;
    color: #fff;
    background-color: #342009;
    border: 0;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    width: 150px;
    height: 50px;
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.Finalizar-compra:hover{
    background-color: #fff;
    color: #644A3C;
    transform: scale(1.1);
    box-shadow: 0px -2px 32px -5px rgba(0, 0, 0, 0.5);
}


body{
    background-color: #EBE6DF;
position: relative;
padding-bottom: 80px;
min-height: 100vh;
}

footer {
    background-color: #EBE6DF;
    box-shadow: 0px -2px 32px -5px rgba(0, 0, 0, 0.5);
    padding: 30px;
    margin: .1%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}