@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@500&family=Nunito:wght@500&family=Poppins:wght@600&display=swap');
/*Fuentes*/

/*Nav-Bar*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.header{
    background-color: #644A3C;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .nav-logo {
cursor: pointer;
margin-right: 15px;
}

.header .nav-nombre h2{
    font-family: 'Abril fatface', cursive;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;
}
.header .nav-nombre h2:hover{
transform: scale(1.1);
color: #dbb144;
}
.header .nav-logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .nav-logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}
.header nav{
    margin-left: 15px;
}
.header .nav-links li{
    display: inline-block;
    padding: 0 15px;
}

.header .nav-links li:hover,
.overlay a:hover{
    transform: scale(1.1);
}


.header .nav-links a{
    font-size: 17px;
    color: #fff;
}

.header .nav-links li a:hover{
    color: #dbb144;
}

.header .btn button,
.header .menu button{
    font-weight: 700;
    color: #fff;
    background-color: #B1995C;
    border: 0;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-bottom: auto;
}

.menu {
    display:none;
}

.header .btn button:hover,
.header .menu button:hover{
    background-color: #EBE6DF;
    color: #644A3C;
    transform: scale(1.2);
}

.header .menu button:hover img{
    filter: invert();
}

@media screen and (max-width:800px) {
    .nav-links, .btn, .car-shop{
        display: none;
    }
    .nav-logo, .nav-nombre{
        display: flex;
    justify-content:space-between;
    align-items: center;
    }
    .menu{
        display: inherit;
        margin-left: auto;
    }
}

.header .car-shop button{
    background-color: #644A3C;
    border: 0;
    height: 65px;
    width: 50px;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
}
.header .car-shop span{
    margin-bottom: auto;/*! arriba o abajo*/
    background-color: #fff;
    color: #644A3C;
    width: 17px; /* Tamaño del contenedor */
    height: 17px; /* Tamaño del contenedor */
    min-width: 17px;
    border-radius: 50%; /* Hace que el contenedor sea completamente redondo */
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}
.header .menu button{
    background-color: #644A3C;
    border: 0;
    height: 65px;
    width: 65px;
    cursor: pointer;
    transition: all 0.3s;
}

.header .car-shop button:hover,
.header .menu button:hover{transform: scale(1.2);}


.header .btn button{
    margin-right: 20px;
    margin-bottom: 30px;
}

.header .botones-izq .btn-btn{
    width: 90px;
    height: 60px;
    padding: 15px 0;
}
.header .botones-izq .btn-car-shop img{
    margin: 0;
}
.header .botones-izq .btn-car-shop{
    width: 65px;
    height: 60px;
    margin-left: 30px;
    display: flex;
    align-items: self-start;
}

.header .botones-izq{
    width: 200px;
    height: 60px;
    display: grid;
    place-items: center;
    grid-template-columns: 50% 50%;
    margin-left: auto;
}

/*Nav-Bar*/

/*Nav-bar-manu*/
.header a{
    text-decoration:none;
}
.header .overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #342009;
    opacity: 98%;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-size: 700;
    color: #fff;
}

.header .overlay a:hover, .header .overlay a:focus{
    color: #dbb144;
}

.header .overlay .close{
    position: absolute;
    top:20px;
    right: 45px;
    font-size: 65px;
}
@media screen and (max-height:450px) {
    .header .overlay a{
        font-size: 17px;
    }
    .header .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
/*Nav-bar-manu*/

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.historia {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.float-text  {
    width: 800px;
    padding: 30px 30px;
    text-align: justify;
    font-family: 'Inter', sans-serif;
}
.imagen-historia, .float-text{
    display: inline-block;
}

.imagen-historia{
    text-align: center;
    margin-bottom:50px;
}
.imagen-historia img{
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.5);
    border-radius: 10px 10px 10px 10px;
    width: 400px;
    height: auto;
    margin-left: 100px;
}

@media screen and (max-width: 768px) {/*Index*/
    .float-text {
        float: none; /* Elimina la flotación en pantallas pequeñas */
        width: 100%; /* Ocupa todo el ancho disponible */
        margin: 10px 0; /* Agrega margen superior e inferior para separar el texto del contenido */
        padding: 20px 20px;
    }
    .imagen-historia {
        float: none; /* Elimina la flotación en pantallas pequeñas */
        width: 100%;
        height: auto;
    }
    .imagen-historia img{
        width: 80%;
        height: auto;
        margin-left: 0;
    }
}
/***************************************************************/

body {
    background-color: #EBE6DF;
position: relative;
padding-bottom: 80px;
min-height: 100vh;

}

footer {
    background-color: #EBE6DF;
    box-shadow: 0px -2px 32px -5px rgba(0, 0, 0, 0.5);
    padding: 30px;
    margin: .1%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}



/*========================CARRUSEL DE IMAGENES========================*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.carrusel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.imagen {
    float: left;
    width: 100%;
}

.imagen img {
    width: 100%;
    height: auto;
}

.anterior, .siguiente {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50%;
}

.anterior {
    left: 10px;
}

.siguiente {
    right: 10px;
}

/*========================CARRUSEL DE IMAGENES========================*/
