@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Mono&family=Inter:wght@500&family=Nunito:wght@500&family=Poppins:ital,wght@1,200&display=swap');

.centrar-tarjeta{
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
}

.img-chip img{
    width: 80px;
    margin-top: 5px;
    margin-left: 20px;
}

.contenedor-tarjeta{
    width: 400px;
    height: 200px;
    background-color: #342009;
    border-radius: 10px;
    padding:20px 10px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.5);
}
.contenedor-tarjeta .contenedor-numero-tarjeta{
    width: 100%;
    height: 29px;
    font-size: 20px;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    color: #fff;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 12px;
}

.contenedor-tarjeta .contenedor-numero-tarjeta p{
    margin-left: 15px;
    margin-right: 15px;
}

#valido-hasta{
    font-size: 12px;
    width: 50px;
    height: 50px;
    flex-wrap: wrap;
    color: #fff;
    font-family: 'IBM Plex Mono', monospace;
    margin-right: 5px;
}
.fecha-vencimiento{
    width: 100%;
    height: 30px;
    text-align: center;
    display:inline-flex;
    justify-content:center;
    align-items:center;    
    margin-bottom: 10px;
}
#fecha{
    width: 50px;
    font-size: 16px;
    color: #fff;
    font-family: 'IBM Plex Mono', monospace;
}
.fecha-titular .titular{
    color: #fff;
    font-family: 'IBM Plex Mono', monospace;
    width: 100%;
    height: 40px;
    display:flex;
    justify-content: start;
    align-items: center;
    margin-left:20px;;
}