body{
background-color: #EBE6DF;
color: #EBE6DF;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;

}

.Forms-Login{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(
    50deg,
    rgba(74, 64,53, 1) 50%,
    rgba(74, 64, 53, 0.7)),url('Claro.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    width: 1000px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

.Forms-Login h2{
    color: #EBE6DF;
    font-size: 30px;
}

form{
    display: flex;
    flex-direction: column;
    width: 50%;
}

label{
    font-size: 17px;
    margin-bottom: 10px;
}

input , textarea{
padding: 8px 6%;
    background-color: #EBE6DF;
    border: 0;
    border-radius: 5px;
    font-size: 12px;
    color: #0000;
}
:focus{
    outline: 2px solid #1E92E9;;
}
input , ::placeholder{
    color: #000;
}

.btn{
    background-color: #B1995C;
    width: 150px;
    align-self:center;
    cursor: pointer;
    margin-top: 10px;
}
.btn:hover{
    background-color: #EBE6DF;
}

.Forms-Login #Logo{
    width: 15%;
    text-align: center;
}

@media(max-width: 768px){
    body{
        padding: 30px;
    }
    .Forms-Login{
        width: 100%;
    }
    form{
        width: 100%;
    }
}
