.titulo{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}


.Receta {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.Receta ul{
    margin-left: 20px;
}

.link-cafe{
    color: #B1995C;
}

.float-text  {
    width: 800px;
    padding: 30px 30px;
    text-align: justify;
    font-family: 'Inter', sans-serif;
}

.imagen-CafeCalabaza, .float-text{
    display: inline-block;
}

.imagen-CafeCalabaza {
    text-align: center;
    margin-bottom:50px;
    margin-top: 30px;
}

.imagen-CafeCalabaza img{
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.5);
    border-radius: 10px 10px 10px 10px;
    width: 400px;
    height: auto;
    margin-left: 100px;
}

@media screen and (max-width: 768px) {/*Index*/
    .float-text {
        float: none; /* Elimina la flotaci칩n en pantallas peque침as */
        width: 100%; /* Ocupa todo el ancho disponible */
        margin: 10px 0; /* Agrega margen superior e inferior para separar el texto del contenido */
        padding: 20px 20px;
    }
    .imagen-CafeCalabaza {
        float: none; /* Elimina la flotaci칩n en pantallas peque침as */
        width: 100%;
        height: auto;
    }
    .imagen-CafeCalabaza img{
        width: 80%;
        height: auto;
        margin-left: 0;
    }
}

#compartir-redes{
    margin-left: 30px;
    margin-bottom: 80px;
    margin-top: 60px;
    text-align: center;
}

hr{
    border: none;
    height: 1px;
    background-color: rgb(197, 197, 197);
    margin: 5px;
}